body {
    margin: 0;
    font-family: Arial;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #eee;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

/* Home */
.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.home img {
    width: 200px;
    border-radius: 50%;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

/* Skills */
.skill-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.skill-box div {
    padding: 10px;
    background: navy;
    color: white;
}

/* Projects */
.project-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    background: lightgray;
    width: 150px;
}

/* Contact */
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px;
}

/* Footer */
footer {
    background: black;
    color: white;
    padding: 20px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}